<a href="https://colab.research.google.com/github/mburucm/Group-Project/blob/main/Moringa_Data_Science_Prep_W5_joint_Project_2021_11_Data_Den_PythonProject_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION**

The following dataset contains a list of Kenyan retail Supermarkets containing information on items, location, day, type of payments among other variables. Historically, supermarkets have their business models radically re-shaped by cashless payment instore, online (advertisement, payments, locations) and in the food industry supply chain.

The lack of or derailment in implementation of crucial strategies have led to the closure of major supermarkets across Kenya. These technologies will be deployed in the battle for customers but, more than this, can also benefit the business as a whole.

In [2]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

In [4]:
#to read the data in the csv file to create a dataframe
#the dataframe will be referred to as 'df'
df= pd.read_csv('/content/drive/MyDrive/Copy of Supermarket_Description_1.gsheet')
df
#to display the top 5 records of the dataframe
df.head(5)

OSError: ignored

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#getting information on the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2299 entries, 0 to 2298
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   supermarket   1463 non-null   object
 1   no_of_items   1464 non-null   float64
 2   variation     1464 non-null   float64
 3   total         1464 non-null   float64
 4   paid          1464 non-null   float64
 5   change        1464 non-null   float64
 6   type          1464 non-null   object
 7   food          1464 non-null   object
 8   snack         1464 non-null   object
 9   beverage      1464 non-null   object
 10  consumables   1464 non-null   object
 11  high_end      1464 non-null   object
 12  asset         1464 non-null   object
 13  fixed_asset   1464 non-null   object
 14  date          1464 non-null   object
 15  mall          1464 non-null   object
 16  time          1464 non-null   object
 17  time_type     1464 non-null   object
 18  type_market   1464 non-null   object
 19  location      1464 non-null   object
 20  loc_category  1464 non-null   object
 21  day           1464 non-null   object
 22  day_type      1464 non-null   object
 23  24hr          1464 non-null   object
 24  day.1         1464 non-null   object
 25  month         1464 non-null   float64
 26  year          1462 non-null   float64
 27  Unnamed: 27   0 non-null      float64
dtypes: float64(8), object(20)
memory usage: 503.0+ KB

In [ ]:
#to get the number of rows and columns respectively
df.shape

(2299, 28)

In [ ]:
#to check null values in the DataFrame
df.isnull()

      supermarket  no_of_items  variation  ...  month   year  Unnamed: 27
0           False        False      False  ...  False  False         True
1           False        False      False  ...  False  False         True
2           False        False      False  ...  False  False         True
3           False        False      False  ...  False  False         True
4           False        False      False  ...  False  False         True
...           ...          ...        ...  ...    ...    ...          ...
2294         True         True       True  ...   True   True         True
2295         True         True       True  ...   True   True         True
2296         True         True       True  ...   True   True         True
2297         True         True       True  ...   True   True         True
2298         True         True       True  ...   True   True         True

[2299 rows x 28 columns]

In [ ]:
#to review the cleaned dataframe
df

     supermarket  no_of_items  variation  ...  month    year  Unnamed: 27
0         acacia          1.0        1.0  ...    5.0  2017.0          NaN
1         acacia          1.0        1.0  ...    5.0  2017.0          NaN
2         acacia          3.0        1.0  ...    5.0  2017.0          NaN
3         acacia          3.0        1.0  ...    5.0  2017.0          NaN
4         acacia          1.0        1.0  ...    5.0  2017.0          NaN
...          ...          ...        ...  ...    ...     ...          ...
2294         NaN          NaN        NaN  ...    NaN     NaN          NaN
2295         NaN          NaN        NaN  ...    NaN     NaN          NaN
2296         NaN          NaN        NaN  ...    NaN     NaN          NaN
2297         NaN          NaN        NaN  ...    NaN     NaN          NaN
2298         NaN          NaN        NaN  ...    NaN     NaN          NaN

[2299 rows x 28 columns]